
<div class="cart-page">
    <h1>Cart Detail</h1>

 

    <div class="row " *ngFor="let item of cartItem ;let i=index"> <!-- i is the index of the current item in the cartItem -->
    
       
        <div class="col-sm-8 details">
         <a routerLink="/details/{{item.id}}">  <img [src]="item.image" alt=""></a>
       
            
   
         <h6> Product:{{item.Name}}</h6>
         <p><b> Price : {{item.price | currency :' Kr'}}</b></p>
         <p><span>Color: {{item.color}} </span> </p>
            
            <p> <span>Category : {{item.category}}</span></p>
         <p>  {{item.description}}</p>
         <i class="fa-solid fa-trash" (click)="removeItem(i)" style="cursor: pointer;"></i>
         <br>
       </div>
       

 
 
      
     
    </div>
    <div class="total" *ngIf="cartItem.length > 0" >
        <h1>Total</h1>
        <div class="row">
          <div class="col-sm-8">
          
          </div>
          <div class="col-sm-4">
            <h6> {{ total | currency :' Kr'}}</h6>
            <button class="btn btn-primary" routerLink="/PaymentDetail">Checkout</button>
          </div>



</div>
    
    </div>